*{
    margin: 0;
    padding: 0;
}
header{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url("./photoes/myimage.jpg");
    height: 200vh;
    background-size:cover;
    background-position:center;
   

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 20px;
}
.main-nav li{
    display:inline-block;
}
.main-nav li a{
    color:white;
    text-decoration: none;
    font-family: "roboto",sans-serif;
    font-size: 15px;
    padding: 5px 20px;
    
}
.main-nav li.active a{

    border: 1px solid white;
}
.main-nav li a:hover {
    border: 1px solid white;
    
}
.logo img{
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 10px;
    
}
body{
   
    font-family: monospace;

}
.row{
    max-width: 1200px;
    margin: auto;
}
.hero{
    position: absolute;
    margin-left:0 ;
    margin-top: 0;
    
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    margin-left: 200px;
}
.button{
    margin-top: 30px;
    margin-left:440px ;
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;

}
.btn-one{
    background-color: darkorange;
    font-family: "roboto"sans-serif;
}
.btn-two{
    font-family: "roboto"sans-serif;
    
}
.btn-two:hover{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:-68%;
    
}
.card{
    background-color: rgb(220, 220, 233);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    margin-top: 50px;
}
.card-image{
    height: 320px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 15px 15px 0 0;
}
.card1{
    background-image:url("./photoes/image5.jpg") ;
}
.card2{
    background-image: url("./photoes/image7.jpg");
}
.card3{
    background-image: url("./photoes/image9.jpg");
}
.card p{
    padding: 10px;
}
.card a{
    background-color: black;
    color: blanchedalmond;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin:20px 50px


}
.card:hover{
    background-color: rgb(56, 54, 54);
    color: blanchedalmond;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}